body {
    background-color:  #d32f2f;
    
    color: white;
}

.main {
     position: relative;

     width: 100%;
     height: 25em;

     background-color: #fafafa;
}

.message {
    position: relative;
    float: left;
    left: 0;
    top: 5%;

    width: 100%;

    color: #d32f2f;
    
    font-size: 17em;
    font-family: 'Great Vibes', cursive;
}

.positive_future {
    position: relative;
    
    color: #d32f2f;
}

.author {
    position: relative;
    float: left;
    left: 5%;
    top: 20%;

    width: 40%;

    font-size: 4em;
    font-family: 'Great Vibes', cursive;
}

.title {
    position: relative;
    float: left;
    left: -35%;
    top: 40%;

    font-size: 2em;
    font-family: 'Great Vibes', cursive;
}